In [2]:
# Import dependencies
import os
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.mlab as mlab
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
# vairables for login to postgres database
# import config as cfg
from config import user, pwd, host, port, database

# create engine to connect to postgres database
engine = create_engine(f"postgresql://{user}:{pwd}@{host}:{port}/{database}")
connection = engine.connect()

In [ ]:
# bring salary information into pandas dataframe
salary = pd.read_sql_table("salaries",engine)
salary.head()

In [ ]:
#create a bins  for plot
num_bins = 10

# Plot Histogram
x = salary["salary"]
n, bins, patches = plt.hist(x, num_bins, facecolor='blue', alpha=0.75)

plt.xlabel('Salary $')
plt.ylabel('Frequency')
plt.title('Common Salary Ranges For Employees')
plt.grid()
plt.tight_layout()
plt.show()

In [ ]:
# Reading the "employees" table into pandas
employees = pd.read_sql("SELECT * FROM \"employees\"", connection)
employees.head()

In [ ]:
# Reading the "titles" table into pandas
titles = pd.read_sql("SELECT * FROM \"titles\"", connection)
titles.head()

In [ ]:
# Merge 3 tables (salaries, employees and title) to get salary by title
emp_w_salary = employees.merge(salary, on="emp_no")
merged = emp_w_salary.merge(titles, left_on="emp_title_id", right_on="title_id")

# Plot bar chart to show average salary by title
bar = merged[["title","salary"]].groupby("title").mean()
bar = bar.sort_values(by="salary", ascending=True)
chart2 = bar.plot.barh(legend=False, alpha=0.75)
chart2.set_title("Average Salary by Title")
chart2.set_xlabel("Salary $")
chart2.set_ylabel("Title")
plt.show()

In [ ]:
# Epilogue
merged[merged["emp_no"]==499942]